
.header {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlXTEWEEUgSv7QdvWhJCs9B1oojGUCGiM1Xh4NhPQ6k6kZ5Du1') no-repeat;
    background-position: 10% center;
    background-size: contain;
    background-color: var(--bgColor);
    height: 5rem;
    vertical-align: middle;
}
.main-navigation li, .main-navigation a {
    position: relative;
    left: 20%;
    margin-top: 2%;
    display: inline-block;
    font-weight: bold;
    font-size: 120%;
    list-style: none;
    text-decoration: none;
    padding-left: 10px;
    color: var(--navColor);
}
.main-navigation #current {
    color: orange;  /* var(--bgColor); */
    font-weight: bold;
}

.cover-image {
    background: url('http://static5.uk.businessinsider.com/image/599fcaff53b50724008b45aa-480/a-builder-working-for-taylor-wimpey-builds-a-roof-on-an-estate-in-aylesbury-britain-february-7-2017.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: auto;
    height: 580px;
}
#main-content {
    font-size: 160%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 20rem;
    color: var(--textColor);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
#buttonToTestimonials a {
    border-radius: 20px;
    padding: 4px 4px 4px 4px;
    position: relative;
    top: 2rem;
    color: var(--navColor);
    background-color: orange;
    text-decoration: none;
}
#buttonToTestimonials a:hover {
    color: var(--navColor);
    background-color: yellow;
    padding: 8px 8px 8px 8px;
    text-decoration: underline;
    font-weight: bold;
}


@keyframes rising {
    0% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(-40px);
    }
}
@keyframes fading {
    0% {
        opacity: 0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}
.testimonials-container {
    background-color: orange;
    width: 935px;
    text-align: center;
    padding-left: 26rem;
}
.testimonials-header {
    font-weight: bold;
    background-color: grey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 440%;
}
.testimonials {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* animation: fading 10s infinite; */
    background-color: orange;
}
.testimonials .t {
    border-bottom: 4px solid grey;
    background-color: orange;
    /*z-index: 100;*/
    text-align: center;
    position: relative;
    left: auto;
    font-size: 120%;
    font-style: italic;
    /* border: 2px solid grey; */
    padding: 20px 20px 20px 20px;
    color: grey;
    /* animation: rising 9s infinite; */
}
.testimonials-buttons {
    text-align: center;
    background-color: var(--bgColor);
}

#carouselWrapper {
  position: relative;
  overflow: hidden;
}
#carousel {
  position: absolute;
  visibility: hidden;
}

.footer #footer-index {
    /* position: absolute; */
    position: relative;
    background-color: var(--bgColor);
    /* padding-top: 20px; */ 
    /* padding-bottom: 20px; */
    text-align: center;
    width: 100%;
    bottom: 0px;
}
/*
.footer #footer-services {
    position: absolute;
    /* position: relative; *
    background-color: var(--bgColor);
    padding-top: 20px;
    text-align: center;
    width: 100%;
    bottom: 1px;
}
.footer #footer-contact {
    position: absolute;
    /* position: relative; *
    background-color: var(--bgColor);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    bottom: 0px;
}
*/
